.profile-img {
	position: relative;
	overflow: hidden;
	animation: clear_overflow 1s forwards;
}

.primary-content article img {
	position: relative;
	top: -450px;
	animation: dropdown 1s linear forwards;
}

@keyframes clear_overflow {
	99.999% { overflow: hidden;	}
	100% { overflow: initial; }
}

@keyframes dropdown {
	100% {
		opacity: 1;
		top: 0;
	}
}

@media screen and (max-width: 768px) {
	.primary-content article img {
		width: 50%;
		float: left;
		margin-right: 25px;
	}
}

@media screen and (max-width: 640px) {
	.primary-content article img {
		width: 100%;
	}
}